<h1><%= conversation.subject %></h1>


A conversation with


<%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>


    <%= simple_format h message.body %>

    Sent <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>

<% end %>



<%= render 'messages/form', conversation: conversation %>

